<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="../assets/img/images.jfif" class="w-100" alt="">
        </div>
        <div class="col-8">
            <h1>Mi primer proyecto en Angular</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ratione placeat veritatis. Nemo quae quas, deleniti rerum sapiente cupiditate earum laudantium iure asperiores sit beatae. Et sint at sed possimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus asperiores, magnam quia nulla sapiente distinctio nesciunt nam vitae in deleniti repellendus maxime facilis adipisci saepe perferendis et dicta? Obcaecati, optio?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quae rem eius at natus exercitationem iste sit. Sit culpa magnam rem repellendus fugit expedita rerum optio. Velit beatae accusamus recusandae.</p>
        </div>

    </div>

</div>


